
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@ViewBag.jsonString</p>

<div class="container">
    <input id="txtFirstName" type="text"/>
    <input id="txtLastName" type="text" />
    <select id="ddlCity">
        <option value="Select">Select</option>
        <option value="New york">New York</option>
        <option value="London">LOndon</option>
        <option value="Chennai">Chenni</option>
        <option value="Mumbai">Mumbai</option>
    </select>
</div>
<script>
    $(document).ready(function() {
    });
</script>