
@{
    ViewBag.Title = "Home page";
}

<div>
    <p>Message from Controller @ViewBag.Greeting</p>
    <p>We are going to have a party. to sell it better add a picture or something.</p>
    @Html.ActionLink("RSVP Now","RsvpForm");
</div>

